body {
  @apply
   from-emerald-50 via-blue-50 to-amber-50 text-emerald-950;
   background-image: url(/noise.svg), linear-gradient(to top right, var(--tw-gradient-from), var(--tw-gradient-stops), var(--tw-gradient-to));
   background-blend-mode: multiply;
}

mark {
  @apply
  bg-blue-200
}

.btn-link {
  @apply
  fill-emerald-950
  hover:text-emerald-600 hover:fill-emerald-600
}

figure img {
  @apply
  shadow-emerald-900/20
}

.project-cards li {
  @apply
  bg-opacity-5 bg-black
}