body {
  @apply
  from-stone-950 via-slate-900 to-slate-950 text-stone-50;
  background-image: url(/noise.svg), linear-gradient(to top right, var(--tw-gradient-from), var(--tw-gradient-stops), var(--tw-gradient-to));
  background-blend-mode: multiply;
}

mark {
  @apply
  bg-yellow-500/40 text-white
}

.btn-link {
  @apply
  hover:text-yellow-500 hover:fill-yellow-500
}

figure img {
  @apply
  shadow-yellow-900/20
}

.project-cards li {
  @apply
  bg-opacity-5 bg-white
}