@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Color+Emoji&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

body {
    margin: 40px auto;
    width: 680px;

    @media (max-width: 768px) {
        margin: 40px 8vw;
        width: 84vw;
    }
}

h1, h2, h3 {
    margin-bottom: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #090b14;
}

h1, h2 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -2.1px;
}

h3 {    
    font-size: 28px;
    line-height: 46px;
    letter-spacing: -0.8px;
}


p {
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 40px;
    color: #6d7287;
}

strong {
    font-weight: 600;
    color: #090b14;
}

li {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 40px;
}

a {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 24px;
    line-height: 40px;
    color: #1A8917;
    position: relative;
    display: flex;
    border-radius: 8px;
    transition: color 0.2s ease-in-out;
    
    &:hover {
        color: #090b14;
    }
    
    &:has(> img) {
        & {
            transition: box-shadow 0.3s ease-in-out;
        }

        &:hover {
            box-shadow: 0 10px 30px rgb(206, 209, 224);
        }
    }
}


img {
    width: 100%;
    border-radius: 8px;    
}

.figma {
    width: 100%;
    height: 680px;
    border: none;
}

.project-end {
    border-top: 1px solid #6d7287;
    margin-top: 40px;
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */

    a:nth-of-type(1) {
        margin-right: auto; /* Empurra o primeiro link para a esquerda */
    }
}