@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  @apply scroll-smooth;
}

section {
  @apply min-h-screen flex flex-col items-center justify-center;
}

@layer components {
  .chip { @apply
    inline-flex items-center px-3 py-1
    text-sm font-normal text-slate-400
    rounded-full
    border border-slate-800
  ;}
  
  .case-card { @apply
    flex flex-row items-center p-12 
    font-light text-white
    border rounded-lg border-slate-400
    bg-slate-900
    hover:shadow-blue-900/70 shadow-2xl hover:border-blue-900 hover:bg-slate-950 hover:!text-slate-400
    transition duration-300 ease-in-out
  ;}

  .case-title {
    @apply font-bold text-xl;
  }
  .case-button {
    @apply inline-flex items-center mt-4 px-4 py-2 rounded-lg text-base font-medium border border-slate-400 text-slate-200; 
  }


  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .btn-primary {
    @apply px-4 py-2 bg-green-800 text-white rounded hover:bg-green-900 hover:text-white transition-colors duration-200 ease-in;
  }
}