@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  @apply scroll-smooth bg-gray-950
}

main {
  @apply container mx-auto md:px-20
}

section {
  @apply min-h-screen flex flex-col items-center justify-center
}

@layer components {
  .title { @apply
    text-7xl font-medium text-zinc-50 mb-2
  }
  
  .chip { @apply
    inline-flex items-center px-3 py-1
    text-sm font-normal text-zinc-300
    rounded-full
    border border-zinc-700 
    shadow-2xl shadow-zinc-500/40
  }
  
  .case-card { @apply
    flex flex-col w-1/2 p-10 items-center space-y-10 
    font-light text-white
    border rounded-2xl border-zinc-400
    shadow-2xl shadow-zinc-500/40 
    hover:opacity-75 transition duration-300 ease-in-out
  }

  .case-title { @apply
    mb-1 font-bold text-2xl w-full
  }

  .underline-blue {
    @apply underline decoration-2 decoration-blue-500
  }
  
  .btn-link {
    @apply 
    w-fit flex
    text-xl underline decoration-0 underline-offset-8 hover:text-emerald-500
    fill-white hover:fill-emerald-500
    transition duration-300 ease-in-out
  }

  .btn-link svg {
    @apply w-[32px] h-[32px]
  }
}