@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  @apply scroll-smooth !will-change-contents !antialiased overflow-x-hidden
}

section {
  @apply mx-auto md:px-20 min-h-screen flex flex-col items-center justify-center
}

@layer components {
  .navbar-link { @apply
    inline-flex items-center
    hover:text-green-800 transition duration-300
  }

  .navbar-link svg {
    @apply
    mr-2 p-1 size-7
    rounded-md bg-green-200
  }  

  .title { @apply
    mb-2
    text-6xl font-bold tracking-[-0.015em] leading-tight
  }
  
  .chip { @apply
    inline-flex items-center px-3 py-1
    text-xs font-medium text-zinc-200 uppercase
    rounded-full
    border border-zinc-300
  }
  
  .btn-link {
    @apply 
    z-10 w-fit flex
    text-xl underline decoration-0 underline-offset-8 hover:text-neutral-500
    fill-white hover:fill-neutral-500
    transition duration-300 ease-in-out
  }

  .btn-link svg {
    @apply w-[32px] h-[32px]
  }

  .button-primary { @apply
    mt-4 py-2 px-4 block w-fit
    rounded-full
    font-medium text-white
    hover:brightness-110 transition duration-300 ease-in-out
  }
  
  .case-section { @apply
    container mx-auto
    h-screen pt-24 grid gap-16 overflow-y-clip
    font-normal
  }

  .case-screens { @apply    
    grid grid-flow-col gap-10
  }
  
  .case-screens img { @apply
    shadow-2xl shadow-neutral-800/20
    border rounded-2xl border-white/10
    hover:scale-105 hover:border-neutral-400/40
    transition duration-300 ease-in-out
  }
  
  .case-title { @apply
    mb-4 font-semibold text-6xl w-full
  }

  .underline-blue {
    @apply underline decoration-2 decoration-blue-500
  }

  .umbrella-cards {
    @apply
    p-8 rounded-2xl
    border border-green-900/5
    shadow-xl shadow-green-900/10
  }
}